In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv("train_data_new.csv")

In [3]:
train_data

             from       to
0          687794  2132718
1          687794   364024
2          687794  3273020
3          687794  4589838
4          687794  4507085
...           ...      ...
24003356  2871896  4272795
24003357  2871896  4600063
24003358  2871896  3612708
24003359  2871896  1579600
24003360  2871896  1079853

[24003361 rows x 2 columns]

In [4]:
combined_data=train_data

In [6]:
import pandas as pd
import random


# Assuming your existing dataset has columns 'from_node' and 'to_node'
from_nodes = combined_data["from"].unique()
to_nodes = combined_data["to"].unique()

# Set the number of false edges you want to generate
num_false_edges = 100000  # Adjust as needed

# Initialize a list to store false edges
false_edges = []

# Generate false edges
for _ in range(num_false_edges):
    from_node = random.choice(from_nodes)
    to_node = random.choice(to_nodes)

    # Check if the edge already exists in the existing dataset
    while ((combined_data["from"] == from_node) & (combined_data["to"] == to_node)).any():
        from_node = random.choice(from_nodes)
        to_node = random.choice(to_nodes)

    false_edges.append([from_node, to_node, 0])  # Assign a label of 0 to indicate false edges

# Create a DataFrame for the false edges
false_edges_df = pd.DataFrame(false_edges, columns=['from', 'to', 'target'])

# Concatenate the false edges DataFrame with your existing dataset
combined_data_with_false_edges = pd.concat([existing_data, false_edges_df], ignore_index=True)

# Save the combined dataset to a new CSV file or overwrite the existing file
combined_data_with_false_edges.to_csv('combined_data_with_false_edges.csv', index=False)

NameError: name 'existing_data' is not defined

In [1]:
false_edges_df

NameError: name 'false_edges_df' is not defined

In [ ]:
false_edges_df = false_edges_df.drop("target",axis=1)

In [ ]:
false_edges_df['Y'] = 0

In [ ]:
csv_file_path = 'false_edges_latest.csv'  # Replace 'your_file.csv' with the desired file name and path

# Save the DataFrame to a CSV file
false_edges_df.to_csv(csv_file_path, index=False)

In [ ]:
combined_data['Y']=1

In [ ]:
combined_data

In [ ]:
combined_df_50 = combined_df.sample(n=100000, random_state=42)

In [ ]:
combined_df_tf = pd.concat([false_edges_df, combined_df_50], ignore_index=True)

In [ ]:
csv_file_path = 'combined_latest.csv'  # Replace 'your_file.csv' with the desired file name and path

# Save the DataFrame to a CSV file
combined_df_tf.to_csv(csv_file_path, index=False)

In [9]:
combined_df_tf = pd.read_csv("combined_latest.csv")

In [11]:
combined_df_tf

,from,to,Y,SrcIndegree,SrcOutegree,dest_indegree,dest_outdegree,Jaccard_Coefficient,cosine_similarity,Preferential_Attachment_Score,Node_x,Indegree_x,Node_y,Outdegree_x,Node_x.1,Indegree_y,Node_y.1,Outdegree_y
0,134467,118071,0,495,14236,1,0,0.000000,0.000000,14240,134467,495,134467,14236,118071,1,118071,0
1,360019,1209763,0,110,1951,1,0,0.000000,0.000000,1957,360019,110,360019,1951,1209763,1,1209763,0
2,3471496,2785636,0,13,27,2,0,0.000000,0.000000,66,3471496,13,3471496,27,2785636,2,2785636,0
3,1859805,4116916,0,24,91,1,0,0.000000,0.000000,99,1859805,24,1859805,91,4116916,1,4116916,0
4,2888367,1054895,0,17,39,1,0,0.000000,0.000000,40,2888367,17,2888367,39,1054895,1,1054895,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,63691,4807146,1,286,13198,3,0,0.000000,0.000000,39675,63691,286,63691,13198,4807146,3,4807146,0
199996,2882075,1625297,1,668,37638,39,0,0.000847,0.026367,1472913,2882075,668,2882075,37638,1625297,39,1625297,0
199997,2150983,4286292,1,337,49384,1,0,0.000000,0.000000,49587,2150983,337,2150983,49384,4286292,1,4286292,0
199998,2855754,2169630,1,493,2435,425,2972,0.066382,0.125044,7480473,2855754,493,2855754,2435,2169630,425,2169630,2972
199999,4739617,1554122,1,991,68888,6,0,0.000073,0.007777,413370,4739617,991,4739617,68888,1554122,6,1554122,0

## Jaccard

In [5]:
import networkx as nx
G_d1 = nx.Graph()

for _, row in combined_data.iterrows():
    G_d1.add_edge(row['from'], row['to'])

In [9]:
jaccard_coefficients = []

for _, row_d2 in combined_df_tf.iterrows():
    node1_d2 = row_d2['from']
    node2_d2 = row_d2['to']
    
    jaccard = nx.jaccard_coefficient(G_d1, [(node1_d2, node2_d2)])
    
    for u, v, j in jaccard:
        jaccard_coefficients.append(j)

combined_df_tf['Jaccard_Coefficient'] = jaccard_coefficients

In [10]:
csv_file_path = 'combined_latest.csv'  # Replace 'your_file.csv' with the desired file name and path

# Save the DataFrame to a CSV file
combined_df_tf.to_csv(csv_file_path, index=False)

## Indegree Outdegree

In [6]:
import csv

# Specify the path to your CSV file
csv_file_path = "train_new.csv"

# Initialize an empty list to store the data
data = []

# Open the CSV file and read its contents line by line
with open(csv_file_path, mode='r', encoding='utf-8', newline='') as file:
    csv_reader = csv.reader(file)
    
    # Iterate through each row in the CSV file
    for row in csv_reader:
        # Append the row to the data list
        data.append(row)

# Now, 'data' contains all the rows from the CSV file

## Creating a digraph

In [7]:
# Create a directed graph

import networkx as nx
G = nx.DiGraph()

# Add nodes from the "from" elements in each sublist
for edge in data:
    G.add_node(edge[0])
    

# Add edges from the 2D list
for edge in data:
    from_node = edge[0]
    to_nodes = edge[1:]
    for to_node in to_nodes:
        G.add_edge(from_node, to_node)

In [9]:
indegree_from = dict(G.in_degree())
outdegree_from = dict(G.out_degree())
indegree_to = dict(G.in_degree())
outdegree_to = dict(G.out_degree())

In [10]:

indegree_from = pd.DataFrame(list(indegree_from.items()), columns=['Node', 'Indegree'])
outdegree_from = pd.DataFrame(list(outdegree_from.items()), columns=['Node', 'Outdegree'])
indegree_to = pd.DataFrame(list(indegree_to.items()), columns=['Node', 'Indegree'])
outdegree_to = pd.DataFrame(list(outdegree_to.items()), columns=['Node', 'Outdegree'])

In [11]:
indegree_from.Node = indegree_from.Node.astype('int64')
indegree_to.Node = indegree_to.Node.astype('int64')
outdegree_from.Node = outdegree_from.Node.astype('int64')
outdegree_to.Node = outdegree_to.Node.astype('int64')

In [12]:

combined_data_with_attributes = pd.merge(combined_df_tf, indegree_from, left_on='from', right_on='Node', how='left')
combined_df_tf = pd.merge(combined_data_with_attributes, outdegree_from, left_on='from', right_on='Node', how='left')

In [13]:

combined_data_with_attributes = pd.merge(combined_df_tf, indegree_from, left_on='to', right_on='Node', how='left')
combined_df_tf = pd.merge(combined_data_with_attributes, outdegree_from, left_on='to', right_on='Node', how='left')

C:\Users\siddh\AppData\Local\Temp\ipykernel_10188\2913091938.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Node_x'} in the result is deprecated and will raise a MergeError in a future version.
  combined_df_tf = pd.merge(combined_data_with_attributes, outdegree_from, left_on='to', right_on='Node', how='left')

In [14]:
csv_file_path = 'combined_latest.csv'  # Replace 'your_file.csv' with the desired file name and path

# Save the DataFrame to a CSV file
combined_df_tf.to_csv(csv_file_path, index=False)

In [12]:
combined_df_tf

,from,to,Y,SrcIndegree,SrcOutegree,dest_indegree,dest_outdegree,Jaccard_Coefficient,cosine_similarity,Preferential_Attachment_Score,Node_x,Indegree_x,Node_y,Outdegree_x,Node_x.1,Indegree_y,Node_y.1,Outdegree_y
0,134467,118071,0,495,14236,1,0,0.000000,0.000000,14240,134467,495,134467,14236,118071,1,118071,0
1,360019,1209763,0,110,1951,1,0,0.000000,0.000000,1957,360019,110,360019,1951,1209763,1,1209763,0
2,3471496,2785636,0,13,27,2,0,0.000000,0.000000,66,3471496,13,3471496,27,2785636,2,2785636,0
3,1859805,4116916,0,24,91,1,0,0.000000,0.000000,99,1859805,24,1859805,91,4116916,1,4116916,0
4,2888367,1054895,0,17,39,1,0,0.000000,0.000000,40,2888367,17,2888367,39,1054895,1,1054895,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,63691,4807146,1,286,13198,3,0,0.000000,0.000000,39675,63691,286,63691,13198,4807146,3,4807146,0
199996,2882075,1625297,1,668,37638,39,0,0.000847,0.026367,1472913,2882075,668,2882075,37638,1625297,39,1625297,0
199997,2150983,4286292,1,337,49384,1,0,0.000000,0.000000,49587,2150983,337,2150983,49384,4286292,1,4286292,0
199998,2855754,2169630,1,493,2435,425,2972,0.066382,0.125044,7480473,2855754,493,2855754,2435,2169630,425,2169630,2972
199999,4739617,1554122,1,991,68888,6,0,0.000073,0.007777,413370,4739617,991,4739617,68888,1554122,6,1554122,0

In [13]:
combined_df_tf=combined_df_tf.drop("Node_x",axis=1)

In [14]:
combined_df_tf=combined_df_tf.drop("Node_y",axis=1)

In [15]:
combined_df_tf

,from,to,Y,SrcIndegree,SrcOutegree,dest_indegree,dest_outdegree,Jaccard_Coefficient,cosine_similarity,Preferential_Attachment_Score,Indegree_x,Outdegree_x,Node_x.1,Indegree_y,Node_y.1,Outdegree_y
0,134467,118071,0,495,14236,1,0,0.000000,0.000000,14240,495,14236,118071,1,118071,0
1,360019,1209763,0,110,1951,1,0,0.000000,0.000000,1957,110,1951,1209763,1,1209763,0
2,3471496,2785636,0,13,27,2,0,0.000000,0.000000,66,13,27,2785636,2,2785636,0
3,1859805,4116916,0,24,91,1,0,0.000000,0.000000,99,24,91,4116916,1,4116916,0
4,2888367,1054895,0,17,39,1,0,0.000000,0.000000,40,17,39,1054895,1,1054895,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,63691,4807146,1,286,13198,3,0,0.000000,0.000000,39675,286,13198,4807146,3,4807146,0
199996,2882075,1625297,1,668,37638,39,0,0.000847,0.026367,1472913,668,37638,1625297,39,1625297,0
199997,2150983,4286292,1,337,49384,1,0,0.000000,0.000000,49587,337,49384,4286292,1,4286292,0
199998,2855754,2169630,1,493,2435,425,2972,0.066382,0.125044,7480473,493,2435,2169630,425,2169630,2972
199999,4739617,1554122,1,991,68888,6,0,0.000073,0.007777,413370,991,68888,1554122,6,1554122,0

In [16]:
combined_df_tf=combined_df_tf.drop("Indegree_x",axis=1)

In [17]:
combined_df_tf=combined_df_tf.drop("Outdegree_x",axis=1)

In [18]:
combined_df_tf=combined_df_tf.drop("Indegree_y",axis=1)
combined_df_tf=combined_df_tf.drop("Outdegree_y",axis=1)

In [19]:
combined_df_tf

,from,to,Y,SrcIndegree,SrcOutegree,dest_indegree,dest_outdegree,Jaccard_Coefficient,cosine_similarity,Preferential_Attachment_Score,Node_x.1,Node_y.1
0,134467,118071,0,495,14236,1,0,0.000000,0.000000,14240,118071,118071
1,360019,1209763,0,110,1951,1,0,0.000000,0.000000,1957,1209763,1209763
2,3471496,2785636,0,13,27,2,0,0.000000,0.000000,66,2785636,2785636
3,1859805,4116916,0,24,91,1,0,0.000000,0.000000,99,4116916,4116916
4,2888367,1054895,0,17,39,1,0,0.000000,0.000000,40,1054895,1054895
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,63691,4807146,1,286,13198,3,0,0.000000,0.000000,39675,4807146,4807146
199996,2882075,1625297,1,668,37638,39,0,0.000847,0.026367,1472913,1625297,1625297
199997,2150983,4286292,1,337,49384,1,0,0.000000,0.000000,49587,4286292,4286292
199998,2855754,2169630,1,493,2435,425,2972,0.066382,0.125044,7480473,2169630,2169630
199999,4739617,1554122,1,991,68888,6,0,0.000073,0.007777,413370,1554122,1554122

In [20]:
combined_df_tf=combined_df_tf.drop("Node_x.1",axis=1)
combined_df_tf=combined_df_tf.drop("Node_y.1",axis=1)

In [21]:
combined_df_tf

,from,to,Y,SrcIndegree,SrcOutegree,dest_indegree,dest_outdegree,Jaccard_Coefficient,cosine_similarity,Preferential_Attachment_Score
0,134467,118071,0,495,14236,1,0,0.000000,0.000000,14240
1,360019,1209763,0,110,1951,1,0,0.000000,0.000000,1957
2,3471496,2785636,0,13,27,2,0,0.000000,0.000000,66
3,1859805,4116916,0,24,91,1,0,0.000000,0.000000,99
4,2888367,1054895,0,17,39,1,0,0.000000,0.000000,40
...,...,...,...,...,...,...,...,...,...,...
199995,63691,4807146,1,286,13198,3,0,0.000000,0.000000,39675
199996,2882075,1625297,1,668,37638,39,0,0.000847,0.026367,1472913
199997,2150983,4286292,1,337,49384,1,0,0.000000,0.000000,49587
199998,2855754,2169630,1,493,2435,425,2972,0.066382,0.125044,7480473
199999,4739617,1554122,1,991,68888,6,0,0.000073,0.007777,413370

In [22]:
csv_file_path = 'combined_latest.csv'  # Replace 'your_file.csv' with the desired file name and path

# Save the DataFrame to a CSV file
combined_df_tf.to_csv(csv_file_path, index=False)

In [ ]:

combined_df_tf.rename(columns = {'Indegree_x':'Src_Indegree'}, inplace = True)

combined_df_tf.rename(columns = {'Outdegree_x':'Src_Outdegree'}, inplace = True)

combined_df_tf.rename(columns = {'Indegree_y':'Dest_Indegree'}, inplace = True)

combined_df_tf.rename(columns = {'Outdegree_y':'Dest_Outdegree'}, inplace = True)

In [ ]:
csv_file_path = 'combined_latest.csv'  # Replace 'your_file.csv' with the desired file name and path

# Save the DataFrame to a CSV file
combined_df_tf.to_csv(csv_file_path, index=False)

## Cosine similarity

In [24]:
import pandas as pd
import networkx as nx
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# Create a graph from df1
# G1 = nx.from_pandas_edgelist(df1, source='from', target='to', create_using=nx.Graph())

# Function to calculate cosine similarity for two nodes' neighborhoods
def cosine_similarity_for_nodes(node1, node2, graph):
    neighbors1 = set(graph.neighbors(node1))
    neighbors2 = set(graph.neighbors(node2))
    
    common_neighbors = neighbors1.intersection(neighbors2)
    
    if not common_neighbors:
        return 0.0  # Avoid division by zero
    
    cosine_sim = len(common_neighbors) / np.sqrt(len(neighbors1) * len(neighbors2))
    return cosine_sim

# Calculate cosine similarities for nodes in df2 with respect to df1
cosine_sim_scores = []

for _, row2 in combined_df_tf.iterrows():
    from_node2 = row2['from']
    to_node2 = row2['to']
    
    cosine_sim = cosine_similarity_for_nodes(from_node2, to_node2, G)
    cosine_sim_scores.append(cosine_sim)

# Add the cosine similarity scores to df2
combined_df_tf['cosine_similarity'] = cosine_sim_scores

NetworkXError: The node 134467.0 is not in the digraph.

In [ ]:

#G = nx.from_pandas_edgelist(train_data, source='from', target='to', create_using=nx.DiGraph())

In [23]:
import pandas as pd
import networkx as nx
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# Create a graph from df1
# G = nx.from_pandas_edgelist(df1, source='from', target='to', create_using=nx.DiGraph())

# Function to calculate cosine similarity for two nodes' neighborhoods
def cosine_similarity_for_nodes(node1, node2, graph):
    if graph.has_node(node1) and graph.has_node(node2):
        neighbors1 = set(graph.neighbors(node1))
        neighbors2 = set(graph.neighbors(node2))
        
        common_neighbors = neighbors1.intersection(neighbors2)
        
        if not common_neighbors:
            return 0.0  # Avoid division by zero
        
        cosine_sim = len(common_neighbors) / np.sqrt(len(neighbors1) * len(neighbors2))
        return cosine_sim
    else:
        return 0.0  # Set cosine similarity to 0 if either node is not in the graph

# Calculate cosine similarities for nodes in df2 with respect to df1
cosine_sim_scores = []

for _, row2 in combined_df_tf.iterrows():
    from_node2 = row2['from']
    to_node2 = row2['to']
    
    cosine_sim = cosine_similarity_for_nodes(from_node2, to_node2, G)
    cosine_sim_scores.append(cosine_sim)

# Add the cosine similarity scores to df2
combined_df_tf['cosine_similarity_new'] = cosine_sim_scores

In [28]:
combined_df_tf.tail(50)

,from,to,Y,SrcIndegree,SrcOutegree,dest_indegree,dest_outdegree,Jaccard_Coefficient,cosine_similarity,Preferential_Attachment_Score,cosine_similarity_new
199950,1030775,1681436,1,252,17214,3,0,0.000058,0.004398,51708,0.0
199951,405314,479933,1,90,1208,84,93,0.013514,0.045044,159689,0.0
199952,314520,3858042,1,4840,761793,1,0,0.000000,0.000000,762657,0.0
199953,1536933,2152796,1,34,3290,1,0,0.000000,0.000000,3308,0.0
199954,1444025,2863084,1,180,2547,333,0,0.015801,0.048738,852480,0.0
199955,839876,4218563,1,449,35424,43,0,0.000987,0.028352,1523920,0.0
199956,4261785,1906207,1,292,440,7,0,0.000000,0.000000,4466,0.0
199957,1605562,303173,1,62,547,49,0,0.011706,0.042409,27244,0.0
199958,3244411,1742249,1,2089,61744,5,0,0.000016,0.001798,309220,0.0
199959,2720697,225371,1,2034,62809,24,0,0.000094,0.004854,1527672,0.0
199960,288702,745309,1,882,271525,3,0,0.000004,0.001107,815424,0.0
199961,134467,36465,1,495,14236,3,0,0.000000,0.000000,42720,0.0
199962,826086,2416216,1,2821,400133,1,0,0.000000,0.000000,400483,0.0
199963,2549144,767581,1,100,1682,1,0,0.000000,0.000000,1693,0.0
199964,1085861,3428063,1,1530,509445,7,0,0.000004,0.001059,3567830,0.0
199965,2199882,3326465,1,129,1342,967,0,0.020417,0.040657,1336394,0.0
199966,333414,3570003,1,14,181,2,0,0.005435,0.052271,366,0.0
199967,337376,3911224,1,931,29038,301,9092,0.025261,0.057880,265443248,0.0
199968,2449686,3656626,1,37,2593,6,0,0.000383,0.007997,15636,0.0
199969,4621896,3841733,1,242,788,101,0,0.023153,0.072662,83527,0.0
199970,4009222,1051401,1,1350,63494,35,0,0.000440,0.018755,2228940,0.0
199971,4335772,240437,1,3423,137753,13,0,0.000080,0.008212,1794338,0.0
199972,1085861,4855136,1,1530,509445,2,0,0.000000,0.000000,1019380,0.0
199973,4148355,526393,1,51,1242,3,0,0.000000,0.000000,3729,0.0
199974,4604853,95884,1,719,50725,157,0,0.002541,0.045706,7965709,0.0
199975,3661129,3022041,1,566,31367,104,0,0.002453,0.042631,3262376,0.0
199976,3533418,146559,1,672,47361,2,0,0.000000,0.000000,95074,0.0
199977,314520,442239,1,4840,761793,1,0,0.000000,0.000000,762657,0.0
199978,3031376,2362633,1,452,20110,42,0,0.001490,0.032635,845040,0.0
199979,4687718,3035730,1,153,9156,57,0,0.003047,0.038752,522063,0.0
199980,4572342,794412,1,976,51781,127,0,0.001832,0.037030,6581902,0.0
199981,2228371,751030,1,1101,411419,3,0,0.000000,0.000000,1236360,0.0
199982,432858,3259524,1,225,8777,8,0,0.000227,0.007539,70384,0.0
199983,458464,82978,1,53,317,50,0,0.045093,0.129624,17200,0.0
199984,4512905,3495793,1,3193,105780,34,0,0.000217,0.012123,3599716,0.0
199985,2059812,573052,1,36,1914,1,0,0.000000,0.000000,1914,0.0
199986,4564619,33072,1,736,20522,86,0,0.002769,0.042873,1767558,0.0
199987,4684576,3186417,1,207,1849,74,454,0.014298,0.034943,891898,0.0
199988,2307099,764338,1,436,47160,4,0,0.000021,0.002301,188864,0.0
199989,1188274,1097306,1,192,791,1,0,0.000000,0.000000,806,0.0
199990,314520,3864502,1,4840,761793,59,0,0.000060,0.006858,44996763,0.0
199991,282491,1593456,1,432,3922,447,0,0.026692,0.085924,1760286,0.0
199992,485341,4819293,1,802,32617,4,0,0.000092,0.008298,130716,0.0
199993,1181010,1149460,1,97,511,21,0,0.010791,0.056292,11361,0.0
199994,3150618,1772710,1,78,4399,106,0,0.008054,0.052714,466400,0.0
199995,63691,4807146,1,286,13198,3,0,0.000000,0.000000,39675,0.0
199996,2882075,1625297,1,668,37638,39,0,0.000847,0.026367,1472913,0.0
199997,2150983,4286292,1,337,49384,1,0,0.000000,0.000000,49587,0.0
199998,2855754,2169630,1,493,2435,425,2972,0.066382,0.125044,7480473,0.0
199999,4739617,1554122,1,991,68888,6,0,0.000073,0.007777,413370,0.0

In [13]:
csv_file_path = 'combined_latest.csv'  # Replace 'your_file.csv' with the desired file name and path

# Save the DataFrame to a CSV file
combined_df_tf.to_csv(csv_file_path, index=False)

In [21]:
combined_df_tf

,from,to,Y,Indegree_x,Outdegree_x,Indegree_y,Outdegree_y,Jaccard_Coefficient,cosine_similarity
0,134467,118071,0,495,14236,1,0,0.000000,0.000000
1,360019,1209763,0,110,1951,1,0,0.000000,0.000000
2,3471496,2785636,0,13,27,2,0,0.000000,0.000000
3,1859805,4116916,0,24,91,1,0,0.000000,0.000000
4,2888367,1054895,0,17,39,1,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
199995,63691,4807146,1,286,13198,3,0,0.000000,0.000000
199996,2882075,1625297,1,668,37638,39,0,0.000847,0.026367
199997,2150983,4286292,1,337,49384,1,0,0.000000,0.000000
199998,2855754,2169630,1,493,2435,425,2972,0.066382,0.125044
199999,4739617,1554122,1,991,68888,6,0,0.000073,0.007777

In [23]:

combined_df_tf = combined_df_tf.rename(columns={'Indegree_x': 'SrcIndegree'})

In [24]:

combined_df_tf = combined_df_tf.rename(columns={'Outdegree_x': 'SrcOutegree'})
combined_df_tf = combined_df_tf.rename(columns={'Indegree_y': 'dest_indegree'})
combined_df_tf = combined_df_tf.rename(columns={'Outdegree_y': 'dest_outdegree'})

In [25]:
combined_df_tf

,from,to,Y,SrcIndegree,SrcOutegree,dest_indegree,dest_outdegree,Jaccard_Coefficient,cosine_similarity
0,134467,118071,0,495,14236,1,0,0.000000,0.000000
1,360019,1209763,0,110,1951,1,0,0.000000,0.000000
2,3471496,2785636,0,13,27,2,0,0.000000,0.000000
3,1859805,4116916,0,24,91,1,0,0.000000,0.000000
4,2888367,1054895,0,17,39,1,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
199995,63691,4807146,1,286,13198,3,0,0.000000,0.000000
199996,2882075,1625297,1,668,37638,39,0,0.000847,0.026367
199997,2150983,4286292,1,337,49384,1,0,0.000000,0.000000
199998,2855754,2169630,1,493,2435,425,2972,0.066382,0.125044
199999,4739617,1554122,1,991,68888,6,0,0.000073,0.007777

In [26]:
csv_file_path = 'combined_latest.csv'  # Replace 'your_file.csv' with the desired file name and path

# Save the DataFrame to a CSV file
combined_df_tf.to_csv(csv_file_path, index=False)

## Preferential attachment score

In [29]:
import networkx as nx

# Create a directed graph (DiGraph) or an undirected graph (Graph) from your dataset (e.g., df1)
# Replace 'your_data' with your actual data source

# G = nx.DiGraph()  # Change to DiGraph if your data is directed


# Assuming your DataFrame has 'from' and 'to' columns indicating edges
# You would add edges to the graph like this

# for _, row in df1.iterrows():
#     from_node = row['from']
#     to_node = row['to']
#     G.add_edge(from_node, to_node)

In [30]:
combined_df_tf

,from,to,Y,SrcIndegree,SrcOutegree,dest_indegree,dest_outdegree,Jaccard_Coefficient,cosine_similarity,Preferential_Attachment_Score
0,134467,118071,0,495,14236,1,0,0.000000,0.000000,14240
1,360019,1209763,0,110,1951,1,0,0.000000,0.000000,1957
2,3471496,2785636,0,13,27,2,0,0.000000,0.000000,66
3,1859805,4116916,0,24,91,1,0,0.000000,0.000000,99
4,2888367,1054895,0,17,39,1,0,0.000000,0.000000,40
...,...,...,...,...,...,...,...,...,...,...
199995,63691,4807146,1,286,13198,3,0,0.000000,0.000000,39675
199996,2882075,1625297,1,668,37638,39,0,0.000847,0.026367,1472913
199997,2150983,4286292,1,337,49384,1,0,0.000000,0.000000,49587
199998,2855754,2169630,1,493,2435,425,2972,0.066382,0.125044,7480473
199999,4739617,1554122,1,991,68888,6,0,0.000073,0.007777,413370

In [31]:
csv_file_path = 'combined_latest.csv'  # Replace 'your_file.csv' with the desired file name and path

# Save the DataFrame to a CSV file
combined_df_tf.to_csv(csv_file_path, index=False)

## Freinds measure

In [29]:
# Assuming you already have a graph, G, created from your data
# G = nx.from_pandas_edgelist(df1, source='from', target='to', create_using=nx.DiGraph())

def friends_measure(node1, node2, graph):
    # Get the neighbors (neighborhoods) of each node
    neighbors1 = set(graph.neighbors(node1))
    neighbors2 = set(graph.neighbors(node2))
    
    # Initialize the Friends Measure
    friends_measure = 0

    # Calculate the Friends Measure based on the delta function
    for x in neighbors1:
        for y in neighbors2:
            if x == y or graph.has_edge(x, y) or graph.has_edge(y, x):
                friends_measure += 1

    return friends_measure

# Example: Calculate Friends Measure between nodes 1 and 2


# Initialize an empty list to store the Friends Measure for each pair
friends_measures = []

for _, row in combined_df_tf.iterrows():
    from_node = row['from']
    to_node = row['to']
    
    # Calculate the Friends Measure using the function
    friends_score = friends_measure(from_node, to_node, G)  # Assuming G is your graph
    
    # Append the result to the list
    friends_measures.append(friends_score)

# Add the Friends Measure values as a new column to df2
combined_df_tf['Friends_Measure'] = friends_measures

# Now df2 contains the Friends Measure for each pair of nodes

NetworkXError: The node 134467.0 is not in the digraph.

In [30]:
import pandas as pd
import networkx as nx

# Assuming you already have a directed graph G created from your data
# G = nx.from_pandas_edgelist(df1, source='from', target='to', create_using=nx.DiGraph())

def friends_measure(node1, node2, graph):
    # Check if the nodes exist in the graph
    if node1 in graph.nodes and node2 in graph.nodes:
        # Get the neighbors (neighborhoods) of each node
        neighbors1 = set(graph.neighbors(node1))
        neighbors2 = set(graph.neighbors(node2))
        
        # Calculate the Friends Measure based on the delta function
        friends_measure = len(neighbors1.intersection(neighbors2))
    else:
        # Set Friends Measure to 0 if either node is not in the graph
        friends_measure = 0
    
    return friends_measure

# Initialize an empty list to store the Friends Measure for each pair
friends_measures = []

for _, row in combined_df_tf.iterrows():
    from_node = row['from']
    to_node = row['to']
    
    # Calculate the Friends Measure using the function
    friends_score = friends_measure(from_node, to_node, G)  # Assuming G is your graph
    
    # Append the result to the list
    friends_measures.append(friends_score)

# Add the Friends Measure values as a new column to df2
combined_df_tf['Friends_Measure'] = friends_measures

# Now df2 contains the Friends Measure for each pair of nodes

In [ ]:
import pandas as pd

# Sample DataFrame with "from" and "to" columns
# data = {'from': [1, 2, 3, 4], 'to': [2, 3, 4, 5]}
# df = pd.DataFrame(data)

# Function to calculate the Friends Measure
def friends_measure(node1, node2, df):
    neighbors1 = set(df[df['from'] == node1]['to'])
    neighbors2 = set(df[df['from'] == node2]['to'])
    
    friends_measure = 1 if neighbors1.intersection(neighbors2) else 0
    
    return friends_measure

# Initialize an empty list to store the Friends Measure for each pair
friends_measures = []

for _, row in combined_df_tf.iterrows():
    from_node = row['from']
    to_node = row['to']
    
    # Calculate the Friends Measure using the function
    friends_score = friends_measure(from_node, to_node, train_data)
    
    # Append the result to the list
    friends_measures.append(friends_score)

# Add the Friends Measure values as a new column to the DataFrame
combined_df_tf['Friends_Measure'] = friends_measures

In [31]:
combined_df_tf

,from,to,Y,SrcIndegree,SrcOutegree,dest_indegree,dest_outdegree,Jaccard_Coefficient,cosine_similarity,Preferential_Attachment_Score,cosine_similarity_new,Friends_Measure
0,134467,118071,0,495,14236,1,0,0.000000,0.000000,14240,0.0,0
1,360019,1209763,0,110,1951,1,0,0.000000,0.000000,1957,0.0,0
2,3471496,2785636,0,13,27,2,0,0.000000,0.000000,66,0.0,0
3,1859805,4116916,0,24,91,1,0,0.000000,0.000000,99,0.0,0
4,2888367,1054895,0,17,39,1,0,0.000000,0.000000,40,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
199995,63691,4807146,1,286,13198,3,0,0.000000,0.000000,39675,0.0,0
199996,2882075,1625297,1,668,37638,39,0,0.000847,0.026367,1472913,0.0,0
199997,2150983,4286292,1,337,49384,1,0,0.000000,0.000000,49587,0.0,0
199998,2855754,2169630,1,493,2435,425,2972,0.066382,0.125044,7480473,0.0,0
199999,4739617,1554122,1,991,68888,6,0,0.000073,0.007777,413370,0.0,0

## Opposite dirn frnds

In [ ]:
import pandas as pd

# Assuming you have a DataFrame df2 with columns 'from' and 'to'

# Initialize an empty list to store the Opposite-Direction Friends Measure for each pair
opposite_direction_friends = []

for _, row in combined_df_tf.iterrows():
    from_node = row['from']
    to_node = row['to']
    
    # Check if there is a reciprocal connection (opposite direction)
    reciprocal_connection = G.has_edge(to_node, from_node)  # Assuming G is your directed graph
    
    # Convert the result to 1 or 0
    opposite_direction_friends.append(1 if reciprocal_connection else 0)

# Add the Opposite-Direction Friends Measure as a new column to df2
combined_df_tf['Opposite_Direction_Friends'] = opposite_direction_friends

# Now df2 contains the Opposite-Direction Friends Measure for each pair of nodes

## Same community feature

In [ ]:
import networkx as nx
import community  # You may need to install python-louvain package

# Assuming you have a graph G
# Use the Louvain method to detect communities
partition = community.best_partition(G)

# Create a dictionary mapping nodes to their communities
node_to_community = {node: community_id for node, community_id in partition.items()}

# Assuming you have a DataFrame df2 with columns 'from' and 'to'
same_community_feature = []

for _, row in combined_df_tf.iterrows():
    from_node = row['from']
    to_node = row['to']
    
    # Check if both nodes belong to the same community
    if node_to_community.get(from_node) == node_to_community.get(to_node):
        same_community_feature.append(1)
    else:
        same_community_feature.append(0)

# Add the Same-Community feature as a new column to df2
combined_df_tf['Same_Community'] = same_community_feature

# Now df2 contains the Same-Community feature for each pair of nodes

## Making test data

In [15]:
test = pd.read_csv("test_data_new.csv")

In [22]:
test

,From,To,Jaccard_Coefficient,SrcIndegree,SrcOutegree,dest_indegree,dest_outdegree,cosine_similarity
0,3360982,4457271,0.036205,140,1964,93,242,0.107235
1,4761876,4698439,0.000000,69,123,18,0,0.000000
2,4198430,3615486,0.000000,248,6996,30,0,0.000000
3,2945770,747948,0.010352,224,289,62,0,0.030766
4,3950088,3360335,0.025965,161,1309,180,0,0.078795
...,...,...,...,...,...,...,...,...
1995,3116985,2415415,0.015544,118,449,673,0,0.030937
1996,265459,842701,0.003686,149,3947,236,1994,0.007753
1997,2547139,4332939,0.033784,50,131,11,0,0.126511
1998,2366264,1815056,0.008264,10,107,11,0,0.028618
1999,2735577,1232247,0.000000,45,544,10,0,0.000000

In [17]:
import pandas as pd
import networkx as nx
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# Create a graph from df1
#G1 = nx.from_pandas_edgelist(df1, source='from', target='to', create_using=nx.Graph())

# Function to calculate cosine similarity for two nodes' neighborhoods
def cosine_similarity_for_nodes(node1, node2, graph):
    neighbors1 = set(graph.neighbors(node1))
    neighbors2 = set(graph.neighbors(node2))
    
    common_neighbors = neighbors1.intersection(neighbors2)
    
    if not common_neighbors:
        return 0.0  # Avoid division by zero
    
    cosine_sim = len(common_neighbors) / np.sqrt(len(neighbors1) * len(neighbors2))
    return cosine_sim

# Calculate cosine similarities for nodes in df2 with respect to df1
cosine_sim_scores = []

for _, row2 in test.iterrows():
    from_node2 = row2['From']
    to_node2 = row2['To']
    
    cosine_sim = cosine_similarity_for_nodes(from_node2, to_node2, G_d1)
    cosine_sim_scores.append(cosine_sim)

# Add the cosine similarity scores to df2
test['cosine_similarity'] = cosine_sim_scores

In [18]:
test

,From,To,Jaccard_Coefficient,SrcIndegree,SrcOutegree,dest_indegree,dest_outdegree,cosine_similarity
0,3360982,4457271,0.036205,140,1964,93,242,0.107235
1,4761876,4698439,0.000000,69,123,18,0,0.000000
2,4198430,3615486,0.000000,248,6996,30,0,0.000000
3,2945770,747948,0.010352,224,289,62,0,0.030766
4,3950088,3360335,0.025965,161,1309,180,0,0.078795
...,...,...,...,...,...,...,...,...
1995,3116985,2415415,0.015544,118,449,673,0,0.030937
1996,265459,842701,0.003686,149,3947,236,1994,0.007753
1997,2547139,4332939,0.033784,50,131,11,0,0.126511
1998,2366264,1815056,0.008264,10,107,11,0,0.028618
1999,2735577,1232247,0.000000,45,544,10,0,0.000000

In [19]:
csv_file_path = 'test_data_new.csv'  # Replace 'your_file.csv' with the desired file name and path

# Save the DataFrame to a CSV file
test.to_csv(csv_file_path, index=False)

In [20]:
test

,From,To,Jaccard_Coefficient,SrcIndegree,SrcOutegree,dest_indegree,dest_outdegree,cosine_similarity
0,3360982,4457271,0.036205,140,1964,93,242,0.107235
1,4761876,4698439,0.000000,69,123,18,0,0.000000
2,4198430,3615486,0.000000,248,6996,30,0,0.000000
3,2945770,747948,0.010352,224,289,62,0,0.030766
4,3950088,3360335,0.025965,161,1309,180,0,0.078795
...,...,...,...,...,...,...,...,...
1995,3116985,2415415,0.015544,118,449,673,0,0.030937
1996,265459,842701,0.003686,149,3947,236,1994,0.007753
1997,2547139,4332939,0.033784,50,131,11,0,0.126511
1998,2366264,1815056,0.008264,10,107,11,0,0.028618
1999,2735577,1232247,0.000000,45,544,10,0,0.000000

In [32]:
preferential_attachment_scores = []
for _, row in test.iterrows():  # Assuming df2 has 'from' and 'to' columns
    from_node = row['From']
    to_node = row['To']
    score = G.degree(from_node) * G.degree(to_node)
    preferential_attachment_scores.append(score)

# Append the scores to your DataFrame (df2)
test['Preferential_Attachment_Score'] = preferential_attachment_scores

In [33]:
test

,From,To,Jaccard_Coefficient,SrcIndegree,SrcOutegree,dest_indegree,dest_outdegree,cosine_similarity,Preferential_Attachment_Score
0,3360982,4457271,0.036205,140,1964,93,242,0.107235,542724
1,4761876,4698439,0.000000,69,123,18,0,0.000000,3096
2,4198430,3615486,0.000000,248,6996,30,0,0.000000,212010
3,2945770,747948,0.010352,224,289,62,0,0.030766,26412
4,3950088,3360335,0.025965,161,1309,180,0,0.078795,244980
...,...,...,...,...,...,...,...,...,...
1995,3116985,2415415,0.015544,118,449,673,0,0.030937,338519
1996,265459,842701,0.003686,149,3947,236,1994,0.007753,8052380
1997,2547139,4332939,0.033784,50,131,11,0,0.126511,1562
1998,2366264,1815056,0.008264,10,107,11,0,0.028618,1221
1999,2735577,1232247,0.000000,45,544,10,0,0.000000,5440

In [34]:
csv_file_path = 'test_data_new.csv'  # Replace 'your_file.csv' with the desired file name and path

# Save the DataFrame to a CSV file
test.to_csv(csv_file_path, index=False)